/* Reset default margin and padding */
body, h1, form, label, input, #footer a {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color for the body */
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  /* Style the container */
  #container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 5px;
  }
  
  /* Style the header */
  #header {
    background-color: white;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px 5px 0 0;
  }
  
  /* Style form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the Sign Up button */
  #subBtn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #subBtn:hover {
    background-color: #0056b3;
  }
  
  /* Style the footer */
  #footer {
    margin-top: 20px;
    font-size: 14px;
  }
  
  #footer a {
    text-decoration: none;
    color: #007BFF;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }
  